@inherits MInputTextBase

<div class="md-form">
    @if (MultiLine)
    {
        <textarea type="@Type" autocomplete="off" class="form-control @CssClass" id="@Id" @bind="@CurrentValue"> </textarea>
    }
    else
    {
        <input type="@Type" autocomplete="off" class="form-control @CssClass" id="@Id" @bind="@CurrentValue" />
    }

    <label for="@Id" class="@Active" style="left:unset; right:unset;"> @Localizer[Label] </label>

    <CustomValidationMessage For="For" />

</div>

