@inherits MNInputDecimalBase

<div class="md-form">

    <input type="number" autocomplete="off" class="form-control @CssClass" id="@Id" @bind="@CurrentValue" />
    <label for="@Id" class="active"> @Localizer[Label] </label>

    <CustomValidationMessage For="For" />

</div>
